# ignore all the files except config and important resources

/*

# proper script needed 
#!/assets
#/assets/*
#!/assets/wallpapers

!/.config
/.config/*

!/.config/alacritty/
!/.config/fish
!/.config/nitrogen
/.config/nitrogen/nitrogen.cfg
!/.config/picom
!/.config/qtile

/.config/qtile/*
!/.config/qtile/*.py
!/.config/qtile/scripts

*.backup
