# ignore all the files except config and important resources

/*

# exclude single config files
!.vimrc
!.tmux.conf

# excluding the configs
!/.config
/.config/*

!/.config/alacritty/
!/.config/fish
!/.config/fish/config.fish
/.config/fish/*
!/.config/nitrogen
/.config/nitrogen/nitrogen.cfg
!/.config/picom
!/.config/qtile

/.config/qtile/*
!/.config/qtile/*.py
!/.config/qtile/scripts

!/.config/awesome/
/.config/awesome/themes/default*

!/.config/rofi

*.backup
