# ignore all the files except config and important resources

/*

# exclude single config files
!.vimrc

# excluding the hard link to the wallpaper
!/assets
/assets/*
!/assets/wallpapers
/assets/wallpapers/*
!/assets/wallpapers/current_background

# excluding the configs
!/.config
/.config/*

!/.config/alacritty/
!/.config/fish
!/.config/nitrogen
/.config/nitrogen/nitrogen.cfg
!/.config/picom
!/.config/qtile

/.config/qtile/*
!/.config/qtile/*.py
!/.config/qtile/scripts

*.backup
